<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isAuto" #map id="map"  style="height: 100%;"></div>

  <!-- <div *ngIf="isEAuto" #mapeauto id="mapeauto"  style="height: 100%;"></div>

  <div *ngIf="isCrane" #mapcrane id="mapcrane"  style="height: 100%;"></div>

  <div *ngIf="isAmbulance" #mapambulance id="mapambulance"  style="height: 100%;"></div>

  <div *ngIf="isSchoolvan" #mapschoolvan id="mapschoolvan"  style="height: 100%;"></div>

  <div *ngIf="isbulldozer" #mapbulldozer id="mapbulldozer"  style="height: 100%;"></div> -->
</ion-content>
