<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Frugal Innovations</ion-title>
    <ion-button (click)="login()" color="light" slot="end" expand="block">
      Login
    </ion-button>
    <ion-button (click)="register()" color="light" slot="end" expand="block">
      Register
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<img style="width: 100%; height: auto;" src="/assets/map.png" alt="" srcset="">
<ion-grid>
  <ion-text color="primary" class="ion-text-center">
    <h1 style="font-size: 60px;"> <strong>Our Services</strong> </h1>
  </ion-text>
  <ion-row>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>BOOK AMBULANCE</ion-card-subtitle>
         <ion-img style="height: 150px;" src="assets/icon/ambulance.png"></ion-img>
        </ion-card-header>
        <ion-card-content>
       
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12"><ion-card>
        <ion-card-header>
          <ion-card-subtitle>BOOK FIRE BRIGRADE</ion-card-subtitle>
          <ion-img style="height:150px;" src="assets/icon/fire-truck.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
         
        </ion-card-content>
      </ion-card></ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>BOOK WATER TANKER</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/oil-tanker.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
         
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>BOOK RICKSHAW</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/rickshaw.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
        
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12"><ion-card>
        <ion-card-header>
          <ion-card-subtitle>BOOK CARGO</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/cargo.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
        
        </ion-card-content>
      </ion-card></ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>BOOK E-RICKSHAW</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/trickshaw.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
         
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>BOOK TRUCK</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/truck.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
         
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12"><ion-card>
        <ion-card-header>
          <ion-card-subtitle>BOOK CRANE</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/crane.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
        
        </ion-card-content>
      </ion-card></ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>BOOK BULLDOZER</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/bulldozer.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
       
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>BOOK SCHOOL VAN</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/van.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
         
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12"><ion-card>
        <ion-card-header>
          <ion-card-subtitle>BOOK TRACTOR</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/tractor.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
         
        </ion-card-content>
      </ion-card></ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>BOOK ROAD ROLLER</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/roller.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-text color="medium" class="ion-text-center">
   <p> Visit our website <a href="http://www.consign.co.in">www.consign.co.in</a> to book cargo and parcels. Call 1800-111-000 </p>
    </ion-text>
  </ion-toolbar>
</ion-footer>

