<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="w3-container">
 
  
    <table class="w3-table w3-striped">
      <tr>
        <th>Date</th>
        <th>Mobile Number</th>
        <th>Partner</th>
        <!-- <th>Category</th> -->
      </tr>

      <tr *ngFor="let item of list">
        <td> {{item.createdAt }} </td>
        <td> {{item.partnerId.MobileNumber }} </td>
        <td> {{item.partnerId.name }} </td>
      </tr>
      
    </table>
  </div>
  
</ion-content>
