<ion-header>
  <ion-toolbar>
    <ion-title>Click on the desired vehicle to locate on the map and book nearest one</ion-title>
    <ion-button slot="end" (click)="openUserProfile()">
      <ion-icon slot="icon-only" name="person"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <input style="width: 100%;" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
  <ion-button (click)="clearSearch()" expand="block" fill="clear" shape="round">
    Clear Search
  </ion-button>
  <!-- <ion-searchbar placeholder="Select City/Current Location" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar> -->
</ion-header>

<ion-content>
  <div  #map id="map"  style="height: 400px; width: auto;"></div>

<ion-grid>
  <ion-row>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>AMBULANCE</ion-card-subtitle>
         <ion-img style="height: 150px;" src="assets/icon/ambulance.png"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <ion-button (dblclick)="openAmbulance()" expand="block" fill="clear" shape="round">
            Double click To Call
           </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12"><ion-card>
        <ion-card-header>
          <ion-card-subtitle>FIRE BRIGRADE</ion-card-subtitle>
          <ion-img style="height:150px;" src="assets/icon/fire-truck.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
         <ion-button (dblclick)="openFire()" expand="block" fill="clear" shape="round">
          Double click To Call
         </ion-button>
        </ion-card-content>
      </ion-card></ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>WATER TANKER</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/oil-tanker.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
          <ion-button (dblclick)="openTanker()" expand="block" fill="clear" shape="round">
            Double click To Call
           </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>RICKSHAW</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/rickshaw.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
          <ion-button (dblclick)="openRiskshaw()" expand="block" fill="clear" shape="round">
            Double click To Book
           </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12"><ion-card>
        <ion-card-header>
          <ion-card-subtitle>CARGO</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/cargo.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
          <ion-button (dblclick)="openCargo()" expand="block" fill="clear" shape="round">
            Double click To Book
           </ion-button>
        </ion-card-content>
      </ion-card></ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>E-RICKSHAW</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/trickshaw.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
          <ion-button (dblclick)="openERiskshaw()" expand="block" fill="clear" shape="round">
            double click To Locate
           </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>TRUCK</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/truck.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
          <ion-button (dblclick)="openTruck()" expand="block" fill="clear" shape="round">
            Double click To Book
           </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12"><ion-card>
        <ion-card-header>
          <ion-card-subtitle>CRANE</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/crane.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
          <ion-button (dblclick)="openCrane()" expand="block" fill="clear" shape="round">
            Double click To Book
           </ion-button>
        </ion-card-content>
      </ion-card></ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>BULLDOZER</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/bulldozer.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
          <ion-button (dblclick)="openBulldozer()" expand="block" fill="clear" shape="round">
            Doubel click To Book
           </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>SCHOOL VAN</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/van.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
          <ion-button (dblclick)="openSchoolvan()" expand="block" fill="clear" shape="round">
            Double click To Book
           </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12"><ion-card>
        <ion-card-header>
          <ion-card-subtitle>TRACTOR</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/tractor.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
          <ion-button (dblclick)="openTractor()" expand="block" fill="clear" shape="round">
            Double click To Book
           </ion-button>
        </ion-card-content>
      </ion-card></ion-col>
    <ion-col sizeLg="4" sizeSm="12" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>ROAD ROLLER</ion-card-subtitle>
          <ion-img style="height: 150px;" src="assets/icon/roller.png"></ion-img>

        </ion-card-header>
        <ion-card-content>
          <ion-button (dblclick)="openRoadRoller()" expand="block" fill="clear" shape="round">
            Dobule click To Book
           </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-text color="medium" class="ion-text-center">
   <p> Visit our website <a href="http://www.consign.co.in">www.consign.co.in</a> to book cargo and parcels. Call 1800-111-000 </p>
    </ion-text>
  </ion-toolbar>
</ion-footer>